<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>SGPPE - Sistema de Gerenciamento de Projetos para Pequenas Empresas</title>
  <link rel="stylesheet" href="/public/headers.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script>

    document.addEventListener('DOMContentLoaded', function() {
        fetch('/usuarios')
        .then(response => response.json())
        .then(usuarios => {
            const selectUsuario = document.getElementById('usuarioIdTarefa');
            usuarios.forEach(usuario => {
                let option = document.createElement('option');
                option.value = usuario.Matricula_id; // ID do usuário como valor
                option.textContent = `${usuario.Nome} ${usuario.Sobrenome}`; // Nome para exibição
                selectUsuario.appendChild(option);
            });
        })
        .catch(error => console.error('Erro ao carregar usuários:', error));
    });
    
    
      </script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
      fetch('/projetos')
      .then(response => response.json())
      .then(projetos => {
          const selectProjeto = document.getElementById('projetoId');
          projetos.forEach(projeto => {
              let option = document.createElement('option');
              option.value = projeto.idProjeto; // ID do usuário como valor
              option.textContent = `${projeto.idProjeto} ${projeto.NomeDoProjeto}`; // Nome para exibição
              selectProjeto .appendChild(option);
          });
      })
      .catch(error => console.error('Erro ao carregar usuários:', error));
  });
  
  
    </script>

  <% function formatDate(date) { 
  let d = new Date(date);
  let day = ('0' + d.getDate()).slice(-2);
  let month = ('0' + (d.getMonth() + 1)).slice(-2);
  let year = d.getFullYear();
  return `${day}/${month}/${year}`;
}
%>


</head>
<body> 
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
          <img src="../public/img/logo_png_azul.png" alt="SGPPE" width="126" height="62">
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/public/projetos_abertos.html" class="nav-link px-2">Projetos em Aberto</a></li>
        <li><a href="/public/projetos_encerrados.html" class="nav-link px-2">Projetos Encerrados</a></li>
        <li><a href="/public/configuracoes.html" class="nav-link px-2">Configurações</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <form action="/logout" method="get">
        <button type="submit" class="btn btn-outline-primary me-2">Sair</button>
      </form>
      </div>
    </header>
  </div>
  <div class="container">
    <div class="col-md-8">
      <h3>Editar Tarefa</h3>
      <p>Edite os dados abaixo e confirme para salvar suas alterações.</p>
    </div>
    
    <div class="container">
      <form id="edita_tarefa" action="/edita_tarefa" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input name="idTarefa" id="idTarefa " type="text" class="form-control"  placeholder="ID-Tarefa"  value="<%= tarefa.idTarefa  %>" readonly>
          <label for="floatingInput">ID-Tarefa</label>
        </div>

        <div class="form-group">
          <strong><label  for="nomeDaTarefa">Nome da Tarefa</label></strong>
            <p><em>Nome Atual: <%= tarefa.NomeDaTarefa %></em></p>
            <input type="text" class="form-control" name="nomeDaTarefa" id="nomeDaTarefa" required>
        </div>
        <br>
        <div class="form-group">
          <strong><label for="tipoTarefa">Tipo de Tarefa</label></strong>
            <p><em>Tipo Atual: <%= tarefa.TipoTarefa %></em></p>
            <select type="text" class="form-select" name="tipoTarefa" id="tipoTarefa" required>
            <option value="Início">Início</option>
            <option value="Planejamento">Planejamento</option>
            <option value="Execução">Execução</option>
            <option value="Monitoramento">Monitoramento</option>
            <option value="Encerramento">Encerramento</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <strong><label for="usuarioIdTarefa">Responsável da Tarefa</label></strong>
          <p><em>Responsável Atual: <%= tarefa.NomeResponsavel %></em></p>
            <select class="form-control" name="usuarioIdTarefa" id="usuarioIdTarefa" required></select>
        </div>
        <br>
        <div class="form-group">
          <strong><label type="date" for="prazoTarefa">Prazo da Tarefa</label></strong>
          <p><em>Prazo Atual: <%= formatDate(tarefa.PrazoTarefa ) %></em></p>
            <input type="date" name="prazoTarefa" class="form-control" id="prazoTarefa" required>
        </div>
        <br>
        <div class="form-group">
          <strong><label for="descricao">Descrição</label></strong>
            <p><em>Descrição Atual: <%= tarefa.Descricao %></em></p>
            <textarea class="form-control" name="descricao"  id="descricao" required></textarea>
        </div>
        <br>
        <div class="form-group">
          <strong><label for="projetoId">Projeto</label></strong>
          <p><em> <%= tarefa.NomeDoProjeto %></em></p>
          <input name="projetoId" id="projetoId" type="hidden" class="form-control"  placeholder="ID-Projeto"  value="<%= tarefa.Projeto_id   %>" readonly>
        </div>
        <br>
        <div class="form-group">
            <strong><label for="situacaoTarefa">Situação</label></strong>
            <p><em>Situação Atual: <%= tarefa.SituacaoTarefa %></em></p>
            <select type="text" name="situacaoTarefa" class="form-select" id="situacaoTarefa" required>
              <option value="Não Iniciada">Não Iniciada</option>
              <option value="Em Andamento">Em Andamento</option>
              <option value="Concluída">Concluída</option>
              <option value="Suspensa">Suspensa</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <strong><label for="excluida">Excluir?</label></strong>
          <p><em>Excluída: <%= tarefa.Excluida %>   Obs. Tarefas excluídas não aparecem na tela de exibição de projetos*</em></p>
          <select type="text" name="excluida" class="form-select" id="excluida" required>
            <option value="Não">Não</option>
            <option value="Sim">Sim</option>
        </select>
      </div>
      <br>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
  </div>

  </div>
  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 SGPPE</p>

    <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="../public/img/logo_png_preto.png" alt="SGPPE" width="81" height="40">
    </p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/public/projetos_abertos.html" class="nav-link px-2 text-body-secondary">Projetos em Aberto</a></li>
      <li class="nav-item"><a href="/public/projetos_encerrados.html" class="nav-link px-2 text-body-secondary">Projetos Encerrados</a></li>
      <li class="nav-item"><a href="/public/configuracoes.html" class="nav-link px-2 text-body-secondary">Configurações</a></li>
    </ul>
  </footer>
</div>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
